doctype html
html(lang="#{data.lang}")
	head
		link(rel="shortcut icon" href="/img/user/favicon.ico" type="image/x-icon")
		title Shake cocktails
		style.
			#preloader {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 100;
				background: #000000;
			}
			#preloader img {
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -100px 0 0 -100px;
				width: 200px;
				height: 200px;
			}
	body(class="#{data.lang}")
		div#preloader
			img(src="/img/user/loader.gif")
		include retargeting
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-56032825-1', 'auto');
			ga('send', 'pageview');

		// Google Tag Manager
		noscript
			iframe(src = '//www.googletagmanager.com/ns.html?id=GTM-TPCCJF', height = '0', width = '0', style = 'display:none;visibility:hidden')
		script.
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					'gtm.start': new Date().getTime(), event: 'gtm.js'
				});
				var f = d.getElementsByTagName(s)[0],
						j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src =
						'//www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window,document,'script','dataLayer','GTM-TPCCJF');
		// End Google Tag Manager

		script(data-main="/js_#{data.env}/app/user/core/core.js" src='/js_#{data.env}/lib/require.js')
		script.
			window['data'] = !{JSON.stringify(data)};
