doctype html
html(lang="ru")
	head
		title Shake coctails
		style.
			#preloader {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 100;
				background: #000;
			}
	body(class="#{data.lang}")
		div#preloader
		.healtWarn
			.content.text-uppercase
				span.warnAside
					span.warnLbl
						| !{data.locale.consume}
					span.warn
				span.bigWarn
					| !{data.locale.healthWarn}
				span.warnAside
					span.warn
					span.warnLbl.text-right
						| !{data.locale.consume}
		script(data-main="/js/app/user/core/core.js" src='/js/lib/require.js')
		script.
			window['data'] = !{JSON.stringify(data)};